<bal-app class="has-sticky-footer">
  <header>
    <!-- Header content -->
  </header>
  <main class="container">
    <bal-heading>BDS Angular Demos</bal-heading>
    <div>
      <bal-tabs vertical=true fullwidth="true" border="true" value="welcome">
        <bal-tab-item value="welcome" label="Welcome">
          <h1>Welcome to the Baloise Design System Angular Demos</h1>
        </bal-tab-item>
        <bal-tab-item value="destroyref" label="DestroyRef">
          <app-destroy-demo></app-destroy-demo>
        </bal-tab-item>
        <bal-tab-item value="signal-input" label="Signal-Input">
          <app-signal-input-demo></app-signal-input-demo>
        </bal-tab-item>
      </bal-tabs>    </div>
  </main>
  <bal-footer>
    <!-- Footer content -->
  </bal-footer>
</bal-app>
